.center {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#barbox {
    margin-top: 30px;
    padding: 4px;
    border: 1px grey solid;
}

input {
    border:none;
}

#buttonbox {
    margin-top: 30px;
    width: 100%;
    display: table;
    text-align: center;
}

#buttonrow {
    display: table-row;
    width: 50%;
}

.button {
    display: table-cell;
    width: 120px;
    height: 20px;
}

.buttonstyle {
    height: 40px;
    width: 150px;
}

#searchbutton {
    text-align: right;
    padding-right: 5px;
    height: 20px;
}

#luckybutton {
    text-align: left;
    padding-left: 5px;
}

#botbar {
    position: fixed;
    bottom: 0;
    width: 100%
}
